<% layout("/layouts/boilerplate") %>

    <body>
        <div class="row mt-3">
            <div class="col-8 offset-2">
                <h1>Edit your Listing here</h1>
                <form method="Post" action="/listings/<%=listings._id%>?_method=PUT" novalidate class="needs-validation"
                    enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input name="list[title]" value="<%=listings.title%>" class="form-control" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea name="list[description]" class="form-control"
                            required><%=listings.description%></textarea>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>

                    <div class="mb-3">
                        Original Listing Image<br>
                        <img src=" <%= originalImageUrl %> ">
                    </div>
                    <div class=" mb-3">
                        <label for="image" class="form-label">Upload New Image</label>
                        <input name="list[image]" class="form-control" type="file" required>
                    </div>

                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-label">Price</label>
                            <input name="list[price]" value="<%=listings.price%>" class="form-control" required>
                            <div class="invalid-feedback">
                                Enter valid price!
                            </div>
                        </div>
                        <div class="mb-3 col-md-8">
                            <label for="country" class="form-label">Country</label>
                            <input name="list[country]" value="<%=listings.country%>" class="form-control" required>
                            <div class="invalid-feedback">
                                Enter valid country!
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="location" class="form-label">Location</label>
                        <input name="list[location]" value="<%=listings.location%>" class="form-control" required>
                        <div class="invalid-feedback">
                            Enter valid loaction!
                        </div>
                    </div>

                    <button class="btn btn-dark mt-3 edit-btn mb-3">Edit </button>
                </form>
            </div>
        </div>
    </body>